[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
random-user-agent = "*"
requests = "*"
loguru = "*"
peewee = "*"
python-socketio = {extras = ["client"], version = "*"}
pysocks = "*"

[dev-packages]

[requires]
python_version = "3.10"
